html{
    width: 100%;
    height: 100%;
}
.center{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
body{
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    background-color: #061B36;
    background-size: cover ;
    font-family: "Genos";
    margin: 0;
    color: snow;
}

/* Changing scrollbar Color */
::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background: #061B36;
}

::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 10px;
}

div:hover::-webkit-scrollbar-thumb{
    background: black;
}


::-webkit-scrollbar-thumb:hover { 
    background: whitesmoke;
}

/* Content within #navBar */
#navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@keyframes spinLogo {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}


#navBar #logo {
    width: 120px;
    height: auto;
    margin: 10px;
    animation: spinLogo 4s linear infinite;
}



#navBar #nav a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 30px;
    margin: 0;
    min-width: 100px; 
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    transition: 0.5s;
}

#navBar #nav a:hover {
    color: black;
    background-color: whitesmoke;
    transition: 0.5s;
  }
  

#navBar #nav {
  width: 40vw;
  display:flex;
  justify-content:flex-end;
  justify-content:space-around;
  align-items: center;
  flex-wrap: wrap;
}

/* Content within #content */

#content{
    margin-top: 10px;
}

#content h1, h2, h3{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#content h2{
    width: 50vw;
    font-weight: 500;
}

#content #img1 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: auto;
    height: 200px;
    border: 2px solid midnightblue;
}

#content table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%; 
    border-collapse: separate; 
}

#content th, #content td {
    border-right: 2px solid white;
    padding: 10px;
    font-size: 20px;
    flex: 1 1 200px; 
    text-align: center; 
    box-sizing: border-box; 
}

#content th {
    background-color: #4097cd; 
}

.borderLeft {
    border-left: 2px solid white;
}