body{
    background-image: url(weatherbg.png);
    text-align: center;
    overflow-x: hidden;
}

#content #locationInput {
    color: snow;
    background-color: #1B81BF;
    border-color: #061B36;
    border-radius: 5px;
    margin: 2px;
    font-size: 20px;
}
::placeholder {
    color: rgb(236, 232, 232);
  }

#content #submitBtn {
    color: midnightblue;
    border-color: white;
    border-radius: 5px;
    margin: 2px;
    font-size: 20px;
}

#content h1{
    font-size: 50px;
}

#content h2{
    width: 50vw;
    font-weight: 600;
    font-size: 30px;
}

hr {
    height: .1vh;
    width: 50vw;
    background-color: skyblue;
    border-color: skyblue;
    box-shadow: 0 0 10px skyblue;
    border-radius: 5px;
}

/* Days timeline */

#day1, #day2, #day3 {
    background-color: #1B81BF;
    border: 1px solid #061B36;
    border-radius: 5px;
    box-shadow: 0 0 10px midnightblue;

    height: fit-content;

    width: 30vw;

    text-align: center;
}


.displayHidden{
    display: none;
}

#dayBoxes {
    width: 100vw;
    justify-content: center;
    margin: 0 auto;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
  }

#dayHeading {
    font-size: 40px;
    justify-content: center;
    margin: 0 auto;
}

#dayBoxes h2{
    font-size: 30px;
}

.dayTemp {
    margin-top: -15px;
}

/* Dew Index */

table{
    border-color:white;
    background-color: #1B81BF;
    margin: 0 auto;
}


td, th{
font-size: 25px;
color: snow;
}

#indexBoxes {
    width: 100vw;
    justify-content: space-evenly;
    margin: 0 auto;
    gap: 10px;
}

.bold{
    font-weight: bold;
}

/* Dewpoint Index */
#oppresive {
    background-color: #7e212e;
}

#vHumid {
    background-color: #F26B6C;
}

#humid {
    background-color: #CAC47C;
}

#sHumid {
    background-color: #F8BCAF;
}

#comfort {
    background-color: #60D5C3;
}

#dry {
    background-color: #A2BCEC;
}


/* UV Index */
#low {
    background-color: #8DC53F;
}

#mod {
    background-color: #ded449;
}

#high {
    background-color: #FAAF40;
}

#vHigh {
    background-color: #ED1B24;
}

#extreme {
    background-color: #652C91;
}


/* Articles */

#articlesBox {
    width: 100vw;
    justify-content: center;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

#dewArticle, #dewArticle2{
    background-color: #1B81BF;
    border: 1px solid #061B36;
    border-radius: 5px;
    box-shadow: 0 0 10px midnightblue;

    height: fit-content;

    width: 30vw;

    text-align: center;
}


@media (max-width: 769px){

    #content #locationInput {
        color: snow;
        background-color: #1B81BF;
        border-color: #061B36;
        border-radius: 5px;
        margin: 2px;
        font-size: 15px;
    }

    #content #submitBtn {
        color: midnightblue;
        border-color: white;
        border-radius: 5px;
        margin: 2px;
        font-size: 15px;
    }

    #content h1{
        font-size: 30px;
    }
    
    #content h2{
        width: 50vw;
        font-weight: 600;
        font-size: 30px;
    }

    #weatherDesc {
        font-size: 15px;
    }

    #dayHeading {
        font-size: 25px;
        justify-content: center;
        margin: 0 auto;
    }
    
    #dayBoxes h1, h2, h3{
        font-size: 12px;
    }

    #indexBoxes {
        width: 100vw;
        flex-direction: column;
        gap: 20px;
        margin: 0 auto;
    }

    table{
        border-color:white;
        margin: 0 auto;
    }

    th {
        font-size: 20px;
    }

    td{
        font-size: 20px;
    }

    #articlesBox {
        width: 100vw;
        justify-content: center;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
      }
    
    #dewArticle, #dewArticle2{
        background-color: #1B81BF;
        border: 1px solid #061B36;
        border-radius: 5px;
        box-shadow: 0 0 10px midnightblue;
    
        height: fit-content;
    
        width: 100vw;
    
        text-align: center;
    }
}

